html {
  background-color: $color-anthracite-blue !important;
}

body {
  background-color: $color-anthracite-blue !important;
  border-top: 8px solid $color-red;
}
h1{
  font-weight: normal;
}
h6 {
  font-size: 17px !important;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.u-break-all {
  word-break: break-all;
}

.u-break-word {
  word-wrap: break-word;
}

.u-group-word {
  white-space: nowrap;
}
