// Colors
$color-golden: #FFA81E;
$color-golden-darker: #2F2612;
$color-matterhorn: #4A3642;
$color-white-iced: #C3E1E9;

$color-blue: #00697F;
$color-green: #06D491;
$color-red: #DA112A;
$color-anthracite: #182021;
$color-anthracite-blue: #0F192A;
$color-anthracite-blue-alt: #20212E;
$color-anthracite-lighter: #1E2C3B;

$color-facebook: #4267B2;
